# Visualisation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/home/mohit/py/scraped_datasets/bigshyft_soup_all.csv", sep=',')

In [4]:
df.describe()

,company,title,location,exp,stipend,category
count,1499,1499,1499,1499,900,1499
unique,18,12,10,13,12,4
top,Lambda Test,Full Stack Developer,Bengaluru/ Bangalore,3-7 years,30-40 lacs,Back End Development
freq,150,374,375,300,75,580

In [5]:
df.tail()

,company,title,location,exp,stipend,category
1494,Moback Technologies India Pvt Ltd,Full Stack Developer,Bengaluru/ Bangalore,6-10 years,20-30 lacs,Back End Development
1495,Codingmart Technologies,PHP Developer,Bengaluru/ Bangalore,3-7 years,11-25 lacs,Back End Development
1496,Lambda Test,Engineering Manager,Noida,6-9 years,25-40 lacs,Back End Development
1497,Redbytes,Full Stack Developer,Pune,2-4 years,NaN,Back End Development
1498,Kvantum,Senior Full Stack Developer,Gurugram/ Gurgaon,3-5 years,12-20 lacs,Back End Development

In [6]:
category_data = df.category.str.strip().value_counts().reset_index()
category_data.columns = ["Category", "Job Opportunities"]
# category_data = category_data[]
category_data.style.background_gradient(cmap = "Reds")

In [7]:
location_data = df.location.str.strip().str.split(',', expand=True)[0].str.split('/', expand=True)[0].value_counts().reset_index()
location_data.columns = ["Location", "Job Opportunities"]
location_data = location_data[:20]
location_data.style.background_gradient(cmap = "Greens")