# Cleaning Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
df=pd.read_csv('/home/mohit/py/data_file.csv', sep=',')

In [3]:
df.tail()

,title,company,jobUrl,tags,experience,salary,location
34594,Openings For QA,IZEE MANPOWER CONSULTANCY PRIVATE LIMITED,/job-listings-openings-for-qa-izee-manpower-co...,"BPO,Customer Service,Solving Queries,Customer ...",0-5 Yrs,"2,00,000 - 4,00,000 PA.",Bengaluru
34595,Marketing/sales/branding/promotion/advertiseme...,Opulence,/job-listings-marketing-sales-branding-promoti...,"bde,field marketing,team management,branding,p...",0-3 Yrs,"2,25,000 - 4,25,000 PA.",Nagpur
34596,Software Engineer Intern,Focaloid Technologies Private Limited,/job-listings-software-engineer-intern-focaloi...,"CSS,API Integrations,M.Tech,HTML,JSON,NPM,MCA,...",0-1 Yrs,Not disclosed,Kochi
34597,E Commerce Data Assistant (Images),Deshpande Toys Pvt. Ltd.,/job-listings-e-commerce-data-assistant-images...,"Photography,Website Management,Image Editing,C...",0-1 Yrs,"1,00,000 PA.",Pune
34598,Marketing & Sales Executive /field Sale- Sal 9...,Creative Hands HR Consultancy,/job-listings-marketing-sales-executive-field-...,"insurance,bd,education sales,b2c sales,corpora...",1-6 Yrs,"7,00,000 - 9,00,000 PA.","Nasik, Bhubaneshwar, Chennai, Ludhiana, Nagpur..."

In [4]:
df.describe()

,title,company,jobUrl,tags,experience,salary,location
count,34599,34599,34599,34598,34599,34460,34459
unique,18355,8589,29010,21188,215,471,3844
top,"Data Entry Executive, Work from Home, Freelanc...",T & A Solutions,/job-listings-hiring-for-junior-accountant-in-...,"Counselor,Mentor,Trainer,Advisor,Educator,Teac...",0-5 Yrs,Not disclosed,Bengaluru
freq,289,1399,3,224,4644,22865,3272

In [5]:
location_data = df.location.str.strip().str.split(",", expand=True)[0].str.split(" ", expand=True)[0].value_counts().reset_index()
print("\tFor all jobs")
print()
location_data.columns = ["Location", "Job Opportunities"]
location_data = location_data[:20]
location_data.style.background_gradient(cmap = "Reds")

	For all jobs

In [6]:
job_title_data = df.title.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
job_title_data.columns = ["Job Title", "Job Opportunities"]
job_title_data = job_title_data[:20]
job_title_data.style.background_gradient(cmap = "Blues")

In [7]:
tags_data = df.tags.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
tags_data.columns = ["Tag", "Jobs with Requirement"]
tags_data = tags_data[:20]
tags_data.style.background_gradient(cmap = "Greens")

# Analysing Jobs in the Legal Field
All jobs with any of following keywords: ["law", "attorney", "advocate" "trial", "lawyer", "legal", "law", "law-"]

In [8]:
df.describe()

,title,company,jobUrl,tags,experience,salary,location
count,34599,34599,34599,34598,34599,34460,34459
unique,18355,8589,29010,21188,215,471,3844
top,"Data Entry Executive, Work from Home, Freelanc...",T & A Solutions,/job-listings-hiring-for-junior-accountant-in-...,"Counselor,Mentor,Trainer,Advisor,Educator,Teac...",0-5 Yrs,Not disclosed,Bengaluru
freq,289,1399,3,224,4644,22865,3272

In [9]:
law_keywords = ["law", "attorney", "advocate" "trial", "lawyer", "legal", "law-"]
# law_keywords = ["professor"]
law_df = pd.DataFrame(columns = ['title', 'tags', 'experience', 'salary', 'location']) 
# for ind in df.index: 
#   if ():
#      law_df.append(ind[ind])
# law_df = df.loc[any (s in df["title"] for s in law_keywords)]
for i in df.iterrows():
    if any (s in i[1].title.lower() for s in law_keywords):
      # print(i[1].title)
      law_df = law_df.append({'title' : i[1].title, 'tags' : i[1].tags, 'experience' : i[1].experience, 'salary': i[1].salary, 'location': i[1].location},  ignore_index = True)

# any(s in sentence for s in law_keywords)

In [10]:
law_df.describe()

,title,tags,experience,salary,location
count,954,954,954,946,946
unique,583,650,81,104,181
top,Legal Officer,"Counselor,Mentor,Trainer,Advisor,Educator,Teac...",5-10 Yrs,Not disclosed,Mumbai
freq,32,112,78,760,160

In [11]:
law_job_title_data = law_df.location.str.strip().str.split(",", expand=True)[0].str.split(" ", expand=True)[0].value_counts().reset_index()
print("     For Jobs in the Legal Field")
print()
law_job_title_data.columns = ["Location", "Job Opportunities"]
law_job_title_data = law_job_title_data[:20]
law_job_title_data.style.background_gradient(cmap = "Reds")

     For Jobs in the Legal Field

In [12]:
law_job_title_data = law_df.title.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
law_job_title_data.columns = ["Job Title", "Job Opportunities"]
law_job_title_data = law_job_title_data[:20]
law_job_title_data.style.background_gradient(cmap = "Blues")

In [14]:
law_job_tags_data = law_df.tags.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
law_job_tags_data.columns = ["Tag", "Jobs with Requirement"]
law_job_tags_data = law_job_tags_data[:20]
law_job_tags_data.style.background_gradient(cmap = "Greens")