# Scraping Data into CSV

In [ ]:
from pprint import pprint
import requests
import json
import csv
import ast

In [ ]:
headers = {
    'authority': 'www.naukri.com',
    'accept': 'application/json',
    'clientid': 'd3skt0p',
    'cache-control': 'no-cache',
    'appid': '109',
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36',
    'systemid': '109',
    'content-type': 'application/json',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.naukri.com/law-jobs-2?k=law', # this line
    'accept-language': 'en-GB,en;q=0.9',
    'cookie': '_t_s=direct; _t_ds=42967a111606658380-7142967a11-042967a11; _t_us=5FC3A94D; test=naukri.com; _t_s=direct; PHPSESSID=a8170a1196c72cad6a9dc03e8931f958; _t_ds=42967a111606658380-7142967a11-042967a11; bm_sz=DCC93136A5B9B98D5AD4455A9D9C6419~YAAQg7YRYBzkmbF1AQAASlVNFAmLiyuTNPN8yC+1ROurVthJumDHveyutpPhkAowZfsyjaes7vRWd6RiiZL+QuuFB0zkL1qvH0bdzemufP1PkCsTBJqHPnTe+jz/gVBUbeXjns90JrMByBDS4nynWNEPsd1E0gToXEY9h/+5lxqpxenAcSpFAu9Ee63bsOYJ; _abck=59491F55967BCAC95FFDDB32B0C5E074~0~YAAQg7YRYCXkmbF1AQAAU1pNFAT9jNbDZB3Z3OV/gQN0Jpo9bvKiMdosoGOKhsNSoF6W2SYu4M7qLN5P8uUFFOCfPEzGJ3Nv9QpyCqAg19K+GTYtj5w8P7QDnt2wAw0zmq18L8ho6CD+94IFRs5pSUaqhZIJZqoslfsuezPjz1gVrNmR+NyatSDOuOCe4eRF4Vkc0V4XL0biobR5KHI2sKukRRtg6uAqqIs3qEZ4+ECU2eXyodZB3wyKAg/LU/8e3jUlmZJr27Oo9yTDLYWNBe64L/J4LBiSoQCxhvCMbdKzMedtW60kGX7XuKHSXtT/RnuliRZBgoUZixgDc8Y+jsMQRCv+Sg==~-1~||-1||~-1; _t_us=5FC3B9FA; bm_mi=72879355B233D6C7E643FE7EA4FB0914~rxs+DOtkiqQ/DDtnrBFQwvygBP9Hql8uiXVjZ2/Jra4AwP2Kdg+3TFNWOJ0sw9bAEkbaSxcqQ+79UP4bAhdTYyz1wlo02XMWqFLxBwlhEJwkrp/4EGLUjY2BzznOP8eRd4rE/hK3x90VGadxwFgeUZ8kJ9kmzyBArxcGe6UuU71kkrAhX00+aXkcbP88Ai1g3SQAVXK6EIuzHMEzUMyDqgLIohTKsUZjdriBjguzb6g=; bm_sv=6B3E6192266765940708572929D0FA11~jfaPzot4/IaJncYBqkgocjEQMDGlMR7yRpha8lcXnb4eXfgaS88iSsKD7zaNWFE3bgRq+aC312UgvXRKPqO9Qw6r6Uzk+Cwy3rhmbnYCWimoDyH+4gSWvnopgG5PRjLayJIj+iQkGFDNVh19DMxMO6PodmO3lonwKp3bOEeWf4M=; ak_bmsc=405A2EF20D76755515DA9F773072259E6011B683F71600004DA9C35FBFAA540E~plmMRtl8qfFpkwE0CLDoiAN8ayiphNtRtNs8tq31OZICjC9+iJohc8yFtTxP++o9TCENvWIiGhHoN+3Vrz1kt3i4Ag0vYZC5I0rNDw844wZ5clhAKLv3wUTMZQKUoOkMWxlu4DOMIiODLm6Cd0iTEqikZ5DPH68+JTAJMyI2kL2D/Ea05snz19hGTsWBnbH5kkTYK33HDxOm19caCmfNVLCsg1I7TXLDRmoy31dbJNIxUF3zKpZ28dRq1MDgYWiW+JLmqJt89/6Ad5qVj88Ka8bA==; jd=051020004164; _t_r=1091%2F%2F',
}
params = (
    ('noOfResults', '20'),
    ('urlType', 'search_by_keyword'),
    ('searchType', 'adv'),
    ('keyword', 'law'),
    ('pageNo', '2'), # this line
    ('k', 'law'),
    ('seoKey', 'law-jobs-2'), # this line
    ('src', 'jobsearchDesk'),
    ('latLong', ''),
)

In [ ]:
data_of_data = [];
ind = 2
limitman = 1731 # change this
while (ind <= limitman):
    print(ind)
    copy_headers = headers
    copy_params = params
    # 1
    copy_headers['referer'] = "https://www.naukri.com/law-jobs-" + str(ind) + "?k=law"
    # print(copy_headers['referer'])
    # 2
    copy_params = (
    ('noOfResults', '20'),
    ('urlType', 'search_by_keyword'),
    ('searchType', 'adv'),
    ('keyword', 'law'),
    ('pageNo', str(ind)), # this line
    ('k', 'law'),
    ('seoKey', 'law-jobs-'+str(ind)), # this line
    ('src', 'jobsearchDesk'),
    ('latLong', ''),       
    )
    # print(copy_params[4])
    # 3
    # copy_params[6][1] = "law-jobs-" + str(ind);
    # print(copy_params[6])
    ind = ind+1
    response = requests.get('https://www.naukri.com/jobapi/v3/search', headers=copy_headers, params=copy_params)
    # print(response.text)
    json_data = json.loads(response.text)
    jobs = json_data['jobDetails']
    for job in jobs:
        obj = {
            'title': job['title'],
            'company': job['companyName'],
            'jobUrl': job['jdURL']
        }
        if "tagsAndSkills" in job:
          obj["tags"] = job['tagsAndSkills']
        for xyz in job["placeholders"]:
            obj[xyz["type"]]= xyz["label"]
        data_of_data.append(obj)
# pprint(data_of_data)

In [ ]:
# pprint(data_of_data)

Json to CSV

In [ ]:
data_file = open('data_file.csv', 'w')
csv_writer = csv.writer(data_file) 
count = 0
for data in data_of_data:
  if (count == 0):
    count += 1
    header = data.keys() 
    csv_writer.writerow(header) 
    continue
  csv_writer.writerow(data.values())
  count += 1
data_file.close()
# END OF SECTION

# Cleaning Data

In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [71]:
df=pd.read_csv('/home/mohit/py/data_file.csv', sep=',')

In [72]:
df.tail()

,title,company,jobUrl,tags,experience,salary,location
34594,Openings For QA,IZEE MANPOWER CONSULTANCY PRIVATE LIMITED,/job-listings-openings-for-qa-izee-manpower-co...,"BPO,Customer Service,Solving Queries,Customer ...",0-5 Yrs,"2,00,000 - 4,00,000 PA.",Bengaluru
34595,Marketing/sales/branding/promotion/advertiseme...,Opulence,/job-listings-marketing-sales-branding-promoti...,"bde,field marketing,team management,branding,p...",0-3 Yrs,"2,25,000 - 4,25,000 PA.",Nagpur
34596,Software Engineer Intern,Focaloid Technologies Private Limited,/job-listings-software-engineer-intern-focaloi...,"CSS,API Integrations,M.Tech,HTML,JSON,NPM,MCA,...",0-1 Yrs,Not disclosed,Kochi
34597,E Commerce Data Assistant (Images),Deshpande Toys Pvt. Ltd.,/job-listings-e-commerce-data-assistant-images...,"Photography,Website Management,Image Editing,C...",0-1 Yrs,"1,00,000 PA.",Pune
34598,Marketing & Sales Executive /field Sale- Sal 9...,Creative Hands HR Consultancy,/job-listings-marketing-sales-executive-field-...,"insurance,bd,education sales,b2c sales,corpora...",1-6 Yrs,"7,00,000 - 9,00,000 PA.","Nasik, Bhubaneshwar, Chennai, Ludhiana, Nagpur..."

In [73]:
df.describe()

,title,company,jobUrl,tags,experience,salary,location
count,34599,34599,34599,34598,34599,34460,34459
unique,18355,8589,29010,21188,215,471,3844
top,"Data Entry Executive, Work from Home, Freelanc...",T & A Solutions,/job-listings-php-developers-comfyi-solution-c...,"Counselor,Mentor,Trainer,Advisor,Educator,Teac...",0-5 Yrs,Not disclosed,Bengaluru
freq,289,1399,3,224,4644,22865,3272

In [88]:
location_data = df.location.str.strip().str.split(",", expand=True)[0].str.split(" ", expand=True)[0].value_counts().reset_index()
print("\tFor all jobs")
print()
location_data.columns = ["Location", "Job Opportunities"]
location_data = location_data[:20]
location_data.style.background_gradient(cmap = "Reds")

	For all jobs

In [75]:
job_title_data = df.title.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
job_title_data.columns = ["Job Title", "Job Opportunities"]
job_title_data = job_title_data[:20]
job_title_data.style.background_gradient(cmap = "Blues")

In [76]:
tags_data = df.tags.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
tags_data.columns = ["Tag", "Jobs with Requirement"]
tags_data = tags_data[:20]
tags_data.style.background_gradient(cmap = "Greens")

# Analysing Jobs in the Legal Field
All jobs with any of following keywords: ["law", "attorney", "advocate" "trial", "lawyer", "legal", "law", "law-"]

In [77]:
df.describe()

,title,company,jobUrl,tags,experience,salary,location
count,34599,34599,34599,34598,34599,34460,34459
unique,18355,8589,29010,21188,215,471,3844
top,"Data Entry Executive, Work from Home, Freelanc...",T & A Solutions,/job-listings-php-developers-comfyi-solution-c...,"Counselor,Mentor,Trainer,Advisor,Educator,Teac...",0-5 Yrs,Not disclosed,Bengaluru
freq,289,1399,3,224,4644,22865,3272

In [80]:
law_keywords = ["law", "attorney", "advocate" "trial", "lawyer", "legal", "law-"]
# law_keywords = ["professor"]
law_df = pd.DataFrame(columns = ['title', 'tags', 'experience', 'salary', 'location']) 
# for ind in df.index: 
#   if ():
#      law_df.append(ind[ind])
# law_df = df.loc[any (s in df["title"] for s in law_keywords)]
for i in df.iterrows():
    if any (s in i[1].title.lower() for s in law_keywords):
      # print(i[1].title)
      law_df = law_df.append({'title' : i[1].title, 'tags' : i[1].tags, 'experience' : i[1].experience, 'salary': i[1].salary, 'location': i[1].location},  ignore_index = True)

# any(s in sentence for s in law_keywords)

In [81]:
law_df.describe()

,title,tags,experience,salary,location
count,954,954,954,946,946
unique,583,650,81,104,181
top,Legal Officer,"Counselor,Mentor,Trainer,Advisor,Educator,Teac...",5-10 Yrs,Not disclosed,Mumbai
freq,32,112,78,760,160

In [93]:
law_job_title_data = law_df.location.str.strip().str.split(",", expand=True)[0].str.split(" ", expand=True)[0].value_counts().reset_index()
print("     For Jobs in the Legal Field")
print()
law_job_title_data.columns = ["Location", "Job Opportunities"]
law_job_title_data = law_job_title_data[:20]
law_job_title_data.style.background_gradient(cmap = "Reds")

     For Jobs in the Legal Field

In [82]:
law_job_title_data = law_df.title.str.strip().str.split(",", expand=True)[0].value_counts().reset_index()
law_job_title_data.columns = ["Job Title", "Job Opportunities"]
law_job_title_data = law_job_title_data[:20]
law_job_title_data.style.background_gradient(cmap = "Blues")

In [ ]:
# df['tags'].plot.hist(grid=True, bins=20, rwidth=0.9, color='#607c8e')
# limit = df['tags'][0:50]
# list_of_tags = []
# for i in limit:
#   # print(i)
#   i_i = i.split(",")
#   for j in i_i:
#     # print(j)
#     if not j in list_of_tags:
#       list_of_tags.append(j)
# letter_counts = Counter(df['tags'][0:50])
# dff = pd.DataFrame.from_dict(letter_counts, orient='index')
# dff.plot(kind='bar')
# print(list_of_tags)
# print(len(list_of_tags))
# arr = []
# for i in list_of_tags:
#   tpl = [i, 0]
#   arr.append(tpl)
# for i in arr:
#   total = 0
#   if 
# print(arr)